<!doctype html>
<html>

<head>
    <meta charset=utf-8>
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name=viewport>
    <title>Powered by CapRover</title>
    <style>
        html,
        body {
            font-family: sans-serif;
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
            background-color: #F7F8FB;
            height: 100%;
            -webkit-font-smoothing: antialiased;
        }

        body {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .message {
            text-align: center;
            align-self: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            max-width: 550px;
        }

        .message__title {
            font-size: 32px;
            font-weight: 100;
            margin-top: 15px;
            color: #47494E;
            margin-bottom: 8px;
        }

        .btn {
            text-decoration: none;
            padding: 11px 25px;
            border-radius: 11px;
            margin-top: 110px;
            font-size: 19px;
            color: #7F828B;
        }

        body.defaultpagebody {
            background: -webkit-linear-gradient(-45deg, #1d5b85 0%, #3295c7 100%);
            background: linear-gradient(135deg, #1d5b85 0%, #3295c7 100%);
        }

        .message__title {
            color: #fff;
        }

        .message {
            padding: 25px;
            color: #fff;
        }

        body.defaultpagebody p {
            color: rgba(255, 255, 255, 0.6);
        }

        body.defaultpagebody .info {
            fill: rgba(255, 255, 255, 0.9);
        }

        body.defaultpagebody .btn {
            color: #fff;
            border: 2px solid rgba(255, 255, 255, 0.7);
        }
    </style>
    <base target=_parent />
</head>

<body class=defaultpagebody>
    <div class=message>
        <div class=message__title>
            <%=message_title%>
        </div>
        <div class=message>
            <%=message_body%>
        </div>
        <a href="<%=message_link%>" target="_blank" rel="noopener noreferrer" class="btn">
            <%=message_link_title%></a>
    </div>
</body>

</html>