# add git-ignore syntax here of things you don't want copied into docker image

.git

/temp_upload
/currentdirectory
/node_modules
/built
/dist-frontend

# JetBrains
.idea

# Debug log from npm
npm-debug.log


.DS_Store