# add git-ignore syntax here of things you don't want copied into docker image

.git

/coverage
/temp_upload
/currentdirectory
/node_modules
/built
/captain-sample-apps

# JetBrains
.idea

# Debug log from npm
npm-debug.log


.DS_Store