<div class="modal-content">
    <div class="modal-header bg-success">
        <i class="ion-checkmark modal-icon"></i><span>Force HTTPS</span>
    </div>
    <div class="modal-body">
        <p>After enabling HTTPS, you can force all non-secure HTTP requests to get redirected to HTTPS.
            Unless you have a strong reason to not do this based on the specific requirements of your deployment, this is a strongly recommended feature.</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$close(false)">CANCEL</button>
        <button type="button" class="btn btn-success" ng-click="$close(true)">YES, Force HTTPS</button>
    </div>
</div>