.selected-side-menu {
    background-color: rgba(225, 225, 225, .2);
}

.full-page-content {
    align-items: center;
    padding-right: 200px;
    margin-top: 100px;
}

textarea {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

.allow-linebreaks-spans span {
    white-space: pre-line;
}

.inline-loader {
    border: 1px solid #f3f3f3;
    border-radius: 50%;
    border-top: 1px solid blue;
    border-bottom: 1px solid blue;
    width: 18px;
    height: 18px;
    -webkit-animation: spin-loader 0.8s linear infinite;
    animation: spin-loader 0.8s linear infinite;
  }
  
  @-webkit-keyframes spin-loader {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin-loader {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  