<div class="modal-content">
    <div class="modal-header bg-danger">
        <i class="ion-checkmark modal-icon"></i>
        <span>Delete App</span>
    </div>
    <div class="modal-body">
        <p>
            You are about to delete
            <i> {{modalAppDelete.appName}}</i>. Please type the name of this app in the box below to confirm deletation of this
            app. Please note that this is
            <b>not reversible</b>.
        </p>
        <p ng-show="modalAppDelete.hasPersistentData">
            <b>IMPORTANT:</b>
            <i> {{modalAppDelete.appName}}</i> is an app with persistent data. After deleting the app from CaptainDuckDuck, you
            will have to manually SSH to your server, and delete Persistent Directories on your server. Refer to the
            <a href="https://github.com/githubsaturn/captainduckduck/wiki/App-Configuration#removing-persistent-apps" target="_blank"
                rel="noopener noreferrer">
                documentations</a>
            for more details.
        </p>
        <label>Confirm App Name:</label>
        <input type="text" class="form-control" placeholder="{{modalAppDelete.appName}}" ng-model="modalAppDelete.appNameConfirm">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$close(false)">CANCEL</button>
        <button type="button" class="btn btn-danger" ng-click="$close(true)">DELETE</button>
    </div>
</div>