name: Run lint

on:
    push:
        branches:
            - master
    pull_request:
        branches:
            - master

jobs:
    run-lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
            - uses: actions/setup-node@v1
              with:
                  node-version: 18
            - run: npm ci && npm run lint
